.wrapper-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 20px 30px;
  background: rgba(157, 179, 206, 0.719);
}
.wrapper-main .wrapper-right {
  width: 30%;
}
.wrapper-main .wrapper-right .btn-vce {
  width: 80%;
  margin: 50px 0;
}
.wrapper-main .wrapper-right .instructions {
  width: 80%;
  text-align: left;
}
.wrapper-main .wrapper-left {
  width: 70%;
  margin: 0 auto;
}
.wrapper-main .wrapper-left .info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper-main .wrapper-left .info-container .info-employee {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: 1px solid black;
  padding: 20px 20px 0 20px;
}
.wrapper-main .wrapper-left .info-container .info-adress {
  height: 438.5px;
}
.wrapper-main .wrapper-left .info-container .info-adress .adress-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-main .wrapper-left .info-container .info-adress .adress-container .adress {
  border: 1px solid black;
  padding: 20px 20px 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.wrapper-main .wrapper-left .info-department-btn-save {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
}

.line-form {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.btn-save {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  font-size: 20px;
}

.btn-vce {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.viewEmployeePage-container {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.viewEmployeePage-container .showEntries-searchEntries {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.viewEmployeePage-container .showEntries-searchEntries .showEntries,
.viewEmployeePage-container .showEntries-searchEntries .searchEntries {
  margin: 10px 41px;
}
.viewEmployeePage-container .showEntryOnEntries-showPages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.viewEmployeePage-container .showEntryOnEntries-showPages .showEntryOnEntries,
.viewEmployeePage-container .showEntryOnEntries-showPages .showPages {
  margin: 10px 41px;
}
.viewEmployeePage-container .thead-line-flex {
  width: 1100px;
}
.viewEmployeePage-container .thead-line-flex .th-flex {
  background: rgba(5, 80, 137, 0.764);
}
.viewEmployeePage-container .thead-line-flex .th-flex .td-head {
  color: white;
}
.viewEmployeePage-container .thead-line-flex .th-flex .th-img-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}
.viewEmployeePage-container .thead-line-flex .th-flex .th-img-flex .img-triangle {
  width: 15px;
  height: 12px;
  color: white;
}
.viewEmployeePage-container .thead-line-flex .th-fixed-width {
  width: 50px;
}
.viewEmployeePage-container td {
  text-align: center;
}
.viewEmployeePage-container .line {
  border-bottom: 1px solid black;
  width: 1150px;
  margin: 10px 0;
}
.viewEmployeePage-container .td-width-fixed190 {
  width: 190px;
}
.viewEmployeePage-container .td-width-fixed150 {
  width: 150px;
}
.viewEmployeePage-container .td-width-fixed100 {
  width: 100px;
}
.viewEmployeePage-container .td-width-fixed80 {
  width: 80px;
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 80, 137, 0.764);
  color: white;
  text-align: center;
}
.title .title-left {
  width: 30%;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.title .title-right {
  width: 70%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.title .title-right .btn-title {
  padding: 10px;
  border: 1px solid white;
  width: 250px;
}
.title .title-right .btn-title:hover {
  color: rgba(157, 179, 206, 0.719);
  background: rgba(5, 80, 137, 0.764);
}
.title .title-right .btn-title a {
  text-decoration: none;
  color: white;
}

.footer {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 80, 137, 0.764);
  color: white;
}
.footer .footer-title {
  width: 30%;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.footer .title-right {
  width: 70%;
  text-align: center;
}

.week1 td {
  width: 20px;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  overflow: hidden;
}

.test {
  color: blue;
}/*# sourceMappingURL=App.css.map */