@import
"./assets/styles/variables",
"./assets/component/CreateEmployee/createEmployee",
"./assets/component/ViewEmployees/viewEmployees",
"./assets/layout/header/header",
"./assets/layout/footer/footer",
"./assets/component/Calendar/calendar",
"./assets/component/Date_Picker/date_picker",
;



#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin:0;
  overflow-x: hidden;
  z-index: 10;
}

.test {
  color: blue;
}
